/*****************************************
RESET
******************************************/

html {
	box-sizing: border-box;
	font-family: "Open Sans";
}

*, *:before, *:after {
	box-sizing: inherit;
}

/****************************************************************
BODY
*****************************************************************/
