/*****************************************
RESET
******************************************/

html {
	box-sizing: border-box;
	font-family: "Open Sans";
}

*, *:before, *:after {
	box-sizing: inherit;
}

/****************************************************************
BODY
*****************************************************************/
body {
	background-color: #222;
	background: repeating-linear-gradient(45deg, #2B2B2B 0%, #2B2B2B 10%, #222 0%, #222 50%)
							0 / 15px 15px;								
}